name: Build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  CONNECTION_STRING: mongodb://admin:metadataadmin@localhost:27017/
  PORT: 8000
  DISABLE_CAPTURE: true

jobs:
  build_server:
    name: Build server
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Create .env file for server
        working-directory: server
        run: |
          touch .env
          echo "CONNECTION_STRING=${{ env.CONNECTION_STRING }}" >> .env
          echo "PORT=${{ env.PORT }}" >> .env
          echo "NODE_ENV=development" >> .env
          echo "CLIENT_ID=${{ secrets.CLIENT_ID }}" >> .env
          echo "CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" >> .env
          echo "POSTHOG_KEY=${{ secrets.REACT_APP_PUBLIC_POSTHOG_KEY }}" >> .env
          echo "DISABLE_CAPTURE=${{ env.DISABLE_CAPTURE }}" >> .env

      - name: Build server
        working-directory: server
        run: |
          yarn install
          yarn build

      - name: Upload server build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mars-server
          path: server/dist/

  build_client:
    name: Build client
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Build client
        working-directory: client
        run: |
          yarn install
          yarn build

  test_server:
    name: Test server
    runs-on: ubuntu-latest
    needs: build_server

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: mars-server
          path: server/dist/

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Start Docker containers
        run: docker compose -f "docker-compose.yml" up -d --build

      - name: Create .env file for server
        working-directory: server
        run: |
          touch .env
          echo "CONNECTION_STRING=${{ env.CONNECTION_STRING }}" >> .env
          echo "PORT=${{ env.PORT }}" >> .env
          echo "NODE_ENV=development" >> .env
          echo "CLIENT_ID=${{ secrets.CLIENT_ID }}" >> .env
          echo "CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" >> .env
          echo "POSTHOG_KEY=${{ secrets.REACT_APP_PUBLIC_POSTHOG_KEY }}" >> .env
          echo "DISABLE_CAPTURE=${{ env.DISABLE_CAPTURE }}" >> .env

      - name: Test server
        working-directory: server
        run: |
          yarn install
          yarn test

  test_client:
    name: Test client
    runs-on: ubuntu-latest
    needs: [build_server, test_server, build_client]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Test client components
        working-directory: client
        run: |
          yarn install
          yarn test:components

      - name: Start Docker containers
        run: docker compose -f "docker-compose.yml" up -d --build

      - uses: actions/download-artifact@v4
        with:
          name: mars-server
          path: server/dist/

      - name: Install server dependencies
        working-directory: server
        run: |
          yarn install

      - name: Create .env file for server
        working-directory: server
        run: |
          touch .env
          echo "CONNECTION_STRING=${{ env.CONNECTION_STRING }}" >> .env
          echo "PORT=${{ env.PORT }}" >> .env
          echo "NODE_ENV=development" >> .env
          echo "CLIENT_ID=${{ secrets.CLIENT_ID }}" >> .env
          echo "CLIENT_SECRET=${{ secrets.CLIENT_SECRET }}" >> .env
          echo "POSTHOG_KEY=${{ secrets.REACT_APP_PUBLIC_POSTHOG_KEY }}" >> .env
          echo "DISABLE_CAPTURE=${{ env.DISABLE_CAPTURE }}" >> .env

      - name: Start server
        working-directory: server
        run: yarn start &

      - name: Create .env file for client
        working-directory: client
        run: |
          touch .env
          echo "CONNECTION_STRING=${{ env.CONNECTION_STRING }}" >> .env
          echo "REACT_APP_PUBLIC_POSTHOG_KEY=${{ secrets.REACT_APP_PUBLIC_POSTHOG_KEY }}" >> .env
          echo "REACT_APP_PUBLIC_POSTHOG_HOST=${{ secrets.REACT_APP_PUBLIC_POSTHOG_HOST }}" >> .env
          echo "DISABLE_CAPTURE=${{ env.DISABLE_CAPTURE }}" >> .env

      - name: Install Playwright browsers
        working-directory: client
        run: npx playwright install --with-deps chromium

      - name: Run Playwright tests
        working-directory: client
        run: yarn test:ui

      - name: Upload Playwright test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: client/playwright-report/
          retention-days: 30
